{% extends 'base.html' %} {% block title %}About-Banarasiya{% endblock title %}
{%block body %}

<div class="container-fluid px-0 mb-3">
  <img
    src="https://source.unsplash.com/1600x400/?saree"
    class="d-block w-100 mx-0"
    alt="yo"
  />
</div>
<h1 class="display-1">Company</h1>
<p><strong>We specialize in Banarasi Silks</strong></p>
<p>
  The Banarasi sarees are made in Varanasi in Uttar Pradesh. They are one of the
  finest traditional sarees in India and very heavy due to its rich embroidery
  which makes them ideal for parties, festivals, and weddings. This saree is
  traditionally made in four varieties namely organza (Kora), Georgette saree,
  Shatir saree, and pure silk (Katan). The many varieties of Banarasi silk saree
  are organza, satin borders, jangla, Brocades, Tanchoi, cutwork, and Resham
  butidar that have interesting designs of animals, birds, floral, fruit, human
  figures, and geometric patterns. Persian motifs are also included in the
  Indian designs to create distinct flower patterns of the saree used even
  today.The Banarasi sarees were originally embellished with threads made from
  real gold and silver for the royal family. For them to be affordable nowadays
  for everyone, the threads have been replaced with coloured gold and silver
  threads. This famous saree has eye-catching patterns and shades woven on a
  handloom and shipped all over the world.
</p>
{% endblock body %}
